main {
  margin: 1.5rem 0;
}

footer {
  background-color: black;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  height: 18rem;
}

footer section {
  height: 100%;
}

.nav-container {
  height: 7rem;
  padding: 1rem;
  border-bottom: solid 0.5rem black;
}

.nav-container .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .logo a {
  height: 100%;
}

.nav-container .logo a img {
  height: 100%;
}

.nav-container .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-add-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom-img-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom-img-container img {
  height: 100%;
}

.barcard-container {
  cursor: pointer;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
}

.barcard-container:hover .barcard-shadow{
  margin-top: 13%;
  height: 90%;
  margin-right: -3%;
}

.barcard-container:hover .barcard{
  margin-top: -1%;
  margin-left: -1%;
}

.barcard {
    width: 94%;
    z-index: 10;
    background-color: white;
    border-radius: 0.15rem;
    overflow: hidden;
    margin-bottom: 7%;
    transition: all 200ms ease-in-out;
}

.barcard-shadow {
  width: 90%;
  align-self: flex-end;
  height: 90%;
  position: absolute;
  z-index: 5;
  margin-top: 10%;
  transition: all 200ms ease-in-out;
  border-radius: 0.15rem;
  box-shadow: 0.15rem 0.15rem 2rem #4848481c;
}

.barcard-link{
  width: 100%;
}

.barcard-link img{
  width: 100%;
}

.comment-container {
  width: 90%;
  padding: 1rem;
  border: solid black 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}